.detail-column {
    display: flex;
    flex-direction: column;
    max-height: 130px;
    min-width: 60vw;
    overflow-y: scroll;
};

.resume-button {
    background-color: gray;
    outline: auto;
};

.profile-modal {
    text-align: center;
};
