.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.join-event {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.event-code-field {
    background-color: white;
}

.event-code-wrapper {
    width: 350px;
    margin-right: 10px;
}

.event-list {
    display: flex;
    flex-direction: column;
}
